@using FoodOnDelivery.Core.Entities;
@using FoodOnDelivery.Web.Models
@using static FoodOnDelivery.Web.Models.BasketViewModel;
@model List<Restaurant>

@{
    ViewData["Title"] = "Alla Restauranger";
}

<h2>@ViewData["Title"]</h2>
<div id="order-sidebar">
    <partial name="_OrderSidebar" model="new BasketViewModel { Items = new List<BasketItem>() }" />
</div>
@if (Model == null || !Model.Any())
{
    <p>Inga restauranger i listan.</p>
}
else
{
    <section class="restaurant-grid">

        @foreach (var restaurant in Model)
        {
            <article class="restaurant-card">
                <img src="@Url.Content($"~/Bilder/{restaurant.Name.Replace(" ", "")}.png")" alt="Bild på @restaurant.Name"
                    class="restaurant-image" />
                <div class="restaurant-info">
                    <h3>@restaurant.Name</h3>
                    <p><strong>Adress:</strong> @restaurant.Address</p>
                    <p>@restaurant.Description</p>
                    <a href="@Url.Action("Menu", "Restaurant", new { id = restaurant.Id })" class="menu-button">
                        Meny
                    </a>    
                </div>
            </article>
        }

    </section>
}
