@using FoodOnDelivery.Core.Entities;
@using FoodOnDelivery.Web.Models;
@model Restaurant

<h2>@Model.Name</h2>
<img src="@Url.Content($"~/Bilder/{Model.Name.Replace(" ", "")}.png")" alt="Bild på @Model.Name"
    class="restaurant-image" />

<p><strong>Adress:</strong> @Model.Address</p>
<p>@Model.Description</p>

<div id="order-sidebar">
    <partial name="_OrderSidebar" model="new BasketViewModel { Items = new List<BasketItem>() }" />
</div>

@if (Model.Menu.Items != null && Model.Menu.Items.Any())
{
    <section class="menu-items">
        @foreach (var item in Model.Menu.Items)
        {
            <div class="menu-item">
                <p>@item.Name - @item.Price.ToString("c")</p>
                <form asp-controller="Order" asp-action="AddItem" method="post">
                    <input type="hidden" name="menuItemId" value="@item.Id" />
                    <input type="hidden" name="menuItemName" value="@item.Name" />
                    <input type="hidden" name="itemPrice" value="@item.Price" />
                    <input type="hidden" name="quantity" value="1" />
                    <button type="submit" class="choose-button">Välj</button>
                </form>
            </div>
        }
    </section>
}
else
{
    <p>Inga menyer tillgängliga.</p>
}
